<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <h3 style="margin-left:4px">Channels</h3>
        <ul class="nav nav-pills nav-stacked" id="side-menu">
            <!-- /input-group -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
<script src="/js/left.js"></script>