<div class="navbar-default sidebar" role="navigation" style="margin-top:76px">
    <div class="sidebar-nav navbar-collapse">
        <h3 style="margin-left:4px">Channels</h3>
        <ul class="nav nav-pills nav-stacked" id="side-menu">
            <!-- /input-group -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=APwHx6f9aAojOQjI925eo6hl1pi8B4tU6xw22RbONp0JrItxqzk78a5UyNip"></script></span>
</div>
<!-- /.navbar-static-side -->
<script src="/js/left.js"></script>