<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Network MVP</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Channel Information</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody id="info">

                            </tbody>
                        </table>
                    </div>
                    <div id="error-channel-div" class="alert alert-danger" style="display: none;"></div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
<script src="/js/channel.js"></script>